<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="vendor/autoload.php"
    backupGlobals="false"
    backupStaticAttributes="false"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
    syntaxCheck="true"
    colors="true">

    <testsuites>
        <testsuite name="pMutex">
            <directory>./test</directory>
        </testsuite>
    </testsuites>

    <logging>
        <log type="coverage-clover" target="log/phpunit/clover.xml"/>
    </logging>
</phpunit>
